html {
    box-sizing: border-box;
    background: #F5F7FC;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

.air-hero {
    background-image: linear-gradient(155deg, #19427e 10%, #387bd8 100%);
}

#portal-header .logo span {
    display: table-cell;
    vertical-align: top;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0 1rem 0 0;
    padding: 0 1rem 0 0;
}

#portal-header .logo img {
    width: 150px;
    padding-right: 1rem;
    border-right: 1px solid #eee;
}

#portal-header .hours {
    float: right;
}

#portal-header .hours span {
    display: table-cell;
    vertical-align: middle;
    font-weight: 300;
}

#portal-header .hours i {
    margin-right: .5rem;
    font-size: 2rem;
}

#portal-intro {
    font-weight: bold;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    margin: 3em auto 2em;
}

#portal-actions .button {
    display: block;
}

#portal-actions .button i {
    color: #8aa4ca;
}

.card {
    margin-bottom: 2em;
    border-radius: 4px;
}

.card .card-header-title {
    background-image: linear-gradient(155deg, #19427e 10%, #387bd8 100%);
    color: #fff;
    font-size: 1.2em;
}

.card .card-header-title i {
    font-size: 1.5em;
    margin-right: .5em;
}

.card .table th {
    color: #19427e;
}

.content table td,
.content table th {
    border: 1px solid #fff;
    border-width: 0 0 1px;
    padding: .5em .75em;
    vertical-align: top;
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
    background-color: #deeaf9;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(odd) {
    background-color: #f4f8fd;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: #ffffff;
}

@media (max-width: 768px) {

    #portal-header .logo span {
        font-size: 1rem;
    }
    #portal-header .logo img {
        width: 100px;
    }
    #portal-header .hours {
        display: none;
    }
    #portal-header .hours span {
        font-size: 1rem;
    }
    #portal-header .hours i {
        font-size: 1.5rem;
    }
    #portal-intro {
        font-size: 1.7rem;
        margin: 2em auto 2em;
    }
}